##############################################
# Artifacts from Knative/Istio installation
##############################################
/istio*
istio-minimal-operator.yaml

##############################################
# Artifacts created by running examples
##############################################
docker-secret.yaml

# Gradle
.gradle
build/
bin/

##############################################
# Artifacts from examples
##############################################
samples/javascript/pipelinerun-javascript.yaml
samples/java/pipelinerun-java.yaml
samples/python/pipelinerun-python.yaml
