# Docker Registry Secret
apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-user-pass
  annotations:
    tekton.dev/docker-0: https://index.docker.io/v1/
type: kubernetes.io/basic-auth
stringData:
  username: ${DOCKER_USERNAME}
  password: ${DOCKER_PASSWORD}

